* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Vesper Libre', serif;
    color: #E98074;
    background-color: #EAE7DC;
}

header {
    width: 100vw;
    height: 85vh;
}

nav {
    padding: 20px 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #EAE7DC;
    border-bottom: 2px solid #E98074;
    margin-bottom:  40px;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    padding: 18px 12px;
}

nav ul li a {
    text-decoration: none;
    color: #E85A4F;
    letter-spacing: 1px;
    line-height: 110%;
}

nav ul li a:hover,
.email:hover,
p a:hover {
    text-decoration: underline;
}

.welcomemessage {
    border-bottom: 2px solid #E98074;
    height: 100%;
    text-align: center;
    background-image: url(../images/banner.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoofdtitel {
    margin: 0;
    padding: 18px 10px 0;
    color: #E85A4f;
    font-size: 43px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.ondertitel {
    margin: 0;
    padding: 8px 12px 0;
    color: #E85A4F;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    font-family: 'Vesper Libre', serif;
    margin-top: 20px;
    font-style: italic;
    background-color: #EAE7DC;
}

@media all and (min-width: 426px) {
    .welcomemessage {
        height: 100%;
    }

    .hoofdtitel {
        padding: 28px 12px 0;
        font-size: 83px;
        line-height: 58px;
    }

    .ondertitel {
        padding: 8px 16px 0;
        font-size: 28px;
        line-height: 35px;
    }
}


section {
    margin: 0 auto 25px;
    max-width: 1280px;
    width: 100%;
    padding: 125px 40px 0;
    box-sizing: border-box;
}


.tussentitel {
    text-align: center;
    font-family: 'Roboto', serif;
    color: #E85A4F;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 25px;
}



.about-inhoud {
    margin: 0 auto;
}



.links {
    text-align: justify;
    font-size: 18px;
    line-height: 36px;
    color: #272421;
    margin-bottom: 42px;
}

.links strong {
    color: #E85A4F;
    font-weight: 700;
}

@media all and (min-width: 1025px) {
    .about-inhoud {
        display: flex;
    }

    .links {
        width: 50%;
    }

    .rechts {
        box-sizing: border-box;
        width: 50%;
        padding-left: 108px;
    }
}

.boven,
.onder {
    display: flex;
    flex-direction: row;
}

.afbeelding {
    width: 50%;
    padding-top: 50%;
    background-size: cover;
    background-position: center;
}

.afbeelding1 {
    background-image: url(../images/marketingtown.jpeg);
}

.afbeelding2 {
    background-image: url(../images/leuven.jpg);
}

.afbeelding3 {
    background-image: url(../images/problemsolving.jpg);
}

.afbeelding4 {
    background-image: url(../images/profile.png);
}






































.afbeeldingen-personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inhoud-personal {
    position: relative;
    border: 2px solid #e85a4f;
    width: 100%;
    max-width: 300px;
    padding-top: 300px;
    margin: 16px 0;
    overflow: hidden;
}

@media all and (min-width: 769px) {
    .afbeeldingen-personal {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .inhoud-personal {
        width: 30%;
        max-width: unset;
        padding-top: 30%;
        margin: 16px;
    }
}

.inhoud-personal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.inhoud-hover {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    background-color: #E85A4F;
    padding: 68px 30px;
    box-sizing: border-box;
    transition: opacity 0.3s;
}

.inhoud-hover h5 {
    font-family: 'Roboto', serif;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 18px;
    color: #EAE7DC;
}

.inhoud-hover p {
    font-family: 'Vesper Libre', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #272421;
}

.inhoud-hover:hover {
    opacity: 1;
}

.languagesskill li {
    margin: 19px 0 !important;
    align-items: center;
}

.languagesskill li div {
    height: 12px !important;
}

.languagesskill li div div {
    height: 12px !important;
}

.languagesskill h4 {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.socials-section {
    background-color: #E85A4F;
    text-align: center;
    color: #EAE7DC;
    padding: 72px 40px;
}

.socials-titel {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 250%;
}

.email {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.socials-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    margin: 0 auto 20px;
}

.icons {
    margin: 0px 7.5px;
}

a {
    text-decoration: none;
}

.languagesskill {
    max-width: 670px;
    margin: auto auto;
}

.socialslink {
    color: #EAE7DC;
}

.cvlink {
    display: inline-block;
    padding: 12px 16px;
    color: #EAE7DC;
    border: 1px solid #EAE7DC;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 700;
}

#krant {
    background-color: #EAE7DC;
    border: 1px solid #e85a4f;
    border-bottom: none;
    max-width: 670px;
    margin: 0 auto;
}

.skillinput {
    display: none;
}

.skilllabel {
    position: relative;
    display: block;
    padding: 10px 3px 3px;
    cursor: pointer;
    padding-left: 15px;
    font-size: 24px;
    color: #E85A4F;
    border-bottom: 1px solid #e85a4f;
}

.artikelInhoud {
    max-width: 670px;
    padding: 0 20px;
    overflow-y: hidden;
    max-height: 0px;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}

input.skillinput:checked + .skillbox .artikelInhoud {
    max-height: 500px;
    padding: 20px;
    transition: .3s ease-in-out;
    border-bottom: 1px solid #e85a4f;
}


.artikelInhoud p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #272421;
}













/*TIMELINE*/





.education-section *{
    box-sizing: border-box;
    max-width:  unset;
}
 .education-section {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 185px 0 0;
}
@media (max-width:  768px){
    .education-section {
        height: unset;
    }
}

.references-section *{
    box-sizing: border-box;
    max-width:  unset;
}
 .references-section {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 185px 0 0;
}
@media (max-width:  768px){
    .references-section {
        height: unset;
    }
}

 .title {
     font-size: 38px;
     color: #fff;
     font-weight: 300;
}
 .timeline {
     width: 100%;
     position: relative;
     /*margin-top: 100px;*/
}
.timeline-nav{
    position: relative;
    display:  flex;
    justify-content: space-evenly;
}
.timeline-line{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #e85a4f;
    border-radius:  2px;
    top: 58px;
}
 .timeline-nav__item {
     width: auto;
     height: auto;
     text-align: center;
     background: transparent;
     color: #e85a4f;
     margin: 15px 25px !important;
     position: relative;
     font-size: 14px;
     line-height: 28px;
     font-weight: 400;
     outline: none;
     cursor: pointer;
}


 .timeline-nav__item::before {
     content: "";
     position: absolute;
     top: 45px;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
     width: 18px;
     height: 18px;
     border-radius: 100%;
     background-color: #e85a4f;
     transition: 0.2s;
}
 .timeline-nav__item.slick-current {
     color: #e85a4f;
     opacity: 1;
}
 .timeline-nav__item.slick-current::before {
    background-color: #fff;
     border: 5px solid #e85a4f;
}
 .timeline-wrapper {
     position: relative;
     width: 100%;
     height: 580px;
     margin: 60px auto;
}
 @media (max-width: 768px) {
     .timeline-wrapper {
         height: calc(56.25vw - 48px);
         max-height: calc(56.25vw - 48px);
    }
}
 .timeline-slider {
     height: 100%;
}
 @media (max-width: 768px) {
     .slick-list {
         overflow: visible!important;
    }
}
 .timeline .slick-list {
     height: 100%;
}
 @media (min-width: 1080px) {
     .timeline .slick-list {
         padding: 0 180px !important;
    }
}
 .timeline .slick-track {
     height: 100%;
}
 .timeline-slide {
     position: relative;
     background-repeat: no-repeat;
     outline: none;
     background-size: 100%;
     background-position: top;
     margin: 0 24px;
     width: 80%;
     z-index: 1;
}
.timeline-video-container{
    top: 0;
    position: absolute;
    max-width: 100%;
}
.timeline-video-container video{
    max-width: 100%;
}
 .timeline-slide__content {
    font-family: 'Roboto', sans-serif;
     z-index: 5;
     position: absolute;
     bottom: 90px;
     right: 0;
     background: #fff;
     padding: 57px 52px 56px 54px;
     opacity: 0;
     transition: opacity 1s;
}
 @media (max-width: 768px) {
     .timeline-slide__content {
        bottom: unset;
        top: 100%;
         width: 100%;
         left: 0;
         padding: 28px 22px 26px 24px;
    }
}
@media (min-width: 768px) {
    .timeline-slide__content  {
        bottom: 0;
        left: 59px;
    }
}
 .timeline-year {
     z-index: 5;
     font-size: 34px;
     line-height: 8px;
     color: #fff;
     background: #e85a4f;
     padding: 20px 17px 13px;
     transition: opacity 1.2s;
     position: absolute;
     opacity: 0;
}
@media (min-width: 768px) {
    .timeline-year {
        top: 47px;
        left: -57px;
    }
}
 .timeline-title {
     color: #e85a4f;
     font-size: 26px;
     line-height: 30px;
     font-weight: 400;
}
 .timeline-text {
     font-size: 24px;
     line-height: 28px;
     font-weight: 700;
     color: #272421;
}
@media (max-width: 768px) {
    .timeline-text {
         font-size: 16px;
         line-height: 18px;
    }
}
 .timeline .slick-current:after {
     background-color: rgba(0, 52, 113, 0);
}
 .timeline .slick-current .timeline-year {
     opacity: 1;
}
 .timeline .slick-current .timeline-slide__content {
     opacity: 1;
}

